language: go
go:
  - 1.13.x

services:
  - docker

env:
  global:
    - DOCKER_USERNAME=samcibot
    # DOCKER_ACCESS_TOKEN
    - secure: Km9VK1JaBp7CudcmoyFbisRARxdwux9TNJdJ45sSXqSCbTtUWBH4n6yk+Hm3qkLY5JBKfCWVfGlu9TjM6uPvsndMYtocVeWm5RZGBRIsjVGOBkgbxkYaWfCfHeBhI1/caWA+bWrAuZZ5u+I//YCtHizHEbIzQqesxtb49ob9wfZnvFjYbp19YZ3sWFt/uQYn57IXu8NWY6T7SbKzJBbDmnROm9vCZQ3MLBx9QsH3J2h8rdmfb0RHa7AMpOXkdK1IQC1abqQhxOoWYhNY++eDP6i0iL+hJ6L6EN6X7IPoPr/y1unpQcPuYy40USGtewSz6+i05Bgmc00rHgZRaO2ixaPpWzAFJW4Z0c5kNk/IFuBoqIlV61do6Y/vMkAfHTt/HCqkJ/Ua+MrmMuLOqzMMMiqVMeAOdLirk2EiVmgPcSwjvAqUVzQoV9BCtWO4kgzQIpw1PaYkLdq0kAkmXDrFSvpUBfTGoflTRLHQwAmmi3ElX56FXoD7OXn8tY7zAxDftAqG94NfQhjRzfV/j8UTMhFdmg7ke2JQbTptyRfrDupQxxIc6ikQcJwGJu8YsEAEEzsWBVphUYjwl0uI140FGuhLZLMj/+bvKmR9z7WIV4eu/nmv4p5vZVhyFGTqFLMsAYKfsEZtoNX6SvRKfDO3HJGOqgbkJDP1Le4JHkYcaEc=

script: make ci
after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  - 'if [ "$TRAVIS_TAG" != "" ]; then make release; fi'
  # unencrypt deploy key for docs
  - openssl aes-256-cbc -K $encrypted_fa8540867d09_key -iv $encrypted_fa8540867d09_iv -in .travis/docs_deploy_key.enc -out .travis/docs_deploy_key -d
  - chmod 600 .travis/docs_deploy_key
deploy:
  # deploy docs to website
  - provider: script
    script: export GIT_SSH_COMMAND="ssh -i .travis/docs_deploy_key" && make pub-docs && unset GIT_SSH_COMMAND

  # deploy tarballs to github
  - provider: releases
    api_key:
      secure: fSbkJdJyNvjttScipWeoAWpmvQDJ46vQgE03VZBfhPPeOgBh5dnqf/0aNBjlu0UOL+Shm5WCVjfGeRtsBwEns7hHPWN1ILoJ9T0teZBqJqL3qpx3pJt5Kby62DgHknNNkIIfZZzY9TtCRWfIck8rL/7rN7lc2vJwikHaRmhYj6ssqJw9S2W0p/IX3alvCkLxnJ78m6HzajuvkUpLfPrRwfHsjxP+gtJfPfYLvOzSU/nuG5j9U1NOJvC8ItS5zYRm9kxvUZYsFFN2rLHueNs2IPQYE4xwpMC9x+MuLn5zXvHE/F0O6/eNFURE+3hDYu02qzSCrVTn6zRX50n6eVuVp3G4cIGUyjf2JgiKGbuoEQRN/mZ506/y/FOa7hKgoeHjYtLVsAhQaWwoO3zkzQiIQ9rHa+sN4yA8ELN23XnbQKuHktaGqPoeskuTPbFg6TMeX5t3u3yTGokYSM9Ay5IF5Owso8NdYpENlHXQ/hMv9OI0PdAXv8FpSw4FfIreji1+AtqI60gzxTEfhnA9/4dWmMvEqpCTv7ObqYKkHmu6OPZAfhA2fxMapljRdj9naWBtUdvj5YmVAro1fzp4yka68X/L7PnPY7RZIfLhz7iv/oOQnP9+w12O0WZ9Er77yMWNOUGDWiPSm+Drc6fmgVvWvDQ/rzpiLIt1XHLPfh04muo=
    skip_cleanup: true
    file_glob: true
    file: .release/*.tar.gz
    on:
      tags: true

  # deploy images to dockerhub
  - provider: script
    script: echo "$DOCKER_ACCESS_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin && make push-release-image
    on:
      tags: true
